* {
    box-sizing: border-box;
  }
.form-container{
    display: flex;
    flex-direction: row;
    gap: 0.5%;
    align-items: center;
    align-content: center;
}
.item-width{
    flex: auto;
    height: 25px;
    padding: 8px;
}
button{
    padding: 8px;
}
h2{
    text-align: center;
}
.flex-card-book{
    display: flex;
    flex-direction: column;

}
.heading{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
.heading p{
} 

#output{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
#output div{
}